<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OverMods - Unleash Your Gaming Experience with Unique Modifications</title>
	<link rel="shortcut icon" href="images/icons/logo.png">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animations.css">
</head>
<body>
	<div class="blur_block">
		<div class="auth">
			<div class="form_container logIn_container">
				<form action="loggedIn.html">
					<h1>Log in</h1>
					<div class="input_label">
						<input type="text" name="overmods_login" placeholder=" " id="overmodsLogin_username">
						<label for="overmodsLogin_username">username</label>
					</div>
					<div class="input_label">
						<input type="password" name="overmods_password" placeholder=" " id="overmodsLogin_password">
						<label for="overmodsLogin_password">password</label>
					</div>
					<a href="">Forgot your password?</a>
					<button>Log in</button>
				</form>
			</div>
			<div class="form_container signUp_container">
				<form action="loggedIn.html">
					<h1>Sign up</h1>
					<div class="input_label">
						<input type="text" name="overmods_login" placeholder=" " id="overmodsSignup_username">
						<label for="overmodsSignup_username">username</label>
					</div>
					<div class="input_label">
						<input type="text" name="overmodsSignup_email" placeholder=" " id="overmodsSignup_email">
						<label for="overmodsSignup_email">email</label>
					</div>
					<div class="input_label">
						<input type="text" name="overmodsSignup_password" placeholder=" " id="overmodsSignup_password">
						<label for="overmodsSignup_password">password</label>
					</div>
					<div class="input_label">
						<input type="password" name="overmodsSignup_confirm_password" placeholder=" " id="overmodsSignup_confirm_password">
						<label for="overmodsSignup_confirm_password">confirm password</label>
					</div>
					<button>Sign up</button>
				</form>
			</div>
			<div class="overlay_container">
				<div class="overlay">
					 <div class="overlay_panel overlay_left">
						  <h1>Welcome again<span>!</span></h1>
						  <p>Unleash the power of your existing account! Dive into the world of gaming modifications by simply logging in and unlocking a universe of enhanced gameplay experiences.</p>
						  <button class="ghost_button" id="logIn">Log in</button>
					 </div>
					 <div class="overlay_panel overlay_right">
							<h1>Hello<span>,</span> Gamer<span>!</span></h1>
							<p>Unlock a world of endless possibilities by registering with us! Enter your personal details and embark on an extraordinary gaming journey like never before!</p>
						  <button class="ghost_button" id="signUp">Sign Up</button>
					 </div>
				</div>
		  </div>
		</div>
    <div class="closeBtn_container">
      <div class="closeBtn" onclick="authClose();">
        <div class="icon"></div>
        <p>Continue as a guest</p>
      </div>
    </div>
	</div>
	<div class="side_menu">
		<div class="logo_box">
			<a href="index.html"><img src="images/icons/logo.png" alt="logo" class="logo">
				<h3>OverMods</h3></a>
			<hr class="underLogo_line">
			<input class="search_box" id="gameSearch" placeholder="Search game">
		</div>
		<div class="game_selection" id="gameSelection">
			<div id="gameNotFound" style="display: none;">
				<p>Game over!</p>
				<p>No results found.</p>
				<p>Keep exploring!</p>
				<img src="images/icons/gray_logo.png" alt="">
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Apex Legends">Apex Legends</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Cyberpunk 2077">Cyberpunk 2077</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Metro 2033">Metro 2033</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			
			<a href="modListPage.html">
			<div class="game">
				<div class="logo"></div>
				<p game="Minecraft">Minecraft</p>
				<div class="hover"></div>
				<div class="arrow"></div>
			</div>
			</a>

			<div class="game">
				<div class="logo"></div>
				<p game="Overwatch 2">Overwatch 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Red dead redemption 2">Red dead redemption 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Sims 4">Sims 4</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="The witcher 3: Wild hunt">The witcher 3: Wild hunt</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<br>
			<br>
		</div>
		<div class="auth_box">
			<div class="fade"></div>
			<div class="more_box">
				<img src="images/icons/more.png" alt="">
			</div>
			<a onclick="blockOpen();">
				<div class="login">
					<img src="images/icons/login_icon.png" alt="" class="login_icon">
					<span>Log in</span>
				</div>
			</a>
		</div>
	</div>
	<div class="top_panel">
		<div class="search_container">
			<input type="text" class="search" placeholder="Search is unavailable on the homepage" disabled>
			<img src="images/icons/search_icon.png" alt="" class="search_icon">
		</div>
		<div class="theme">
			<div class="dark">dark
				<img class="icon" src="images/icons/moon_icon.png" alt="">
			</div>
			<div class="light">light
				<img class="icon" src="images/icons/sun_icon.png" alt="">
			</div>
		</div>
	</div>
	<div class="background">
		<div class="content">
			<br>
			<div class="title">
				<img src="images/icons/trend_icon.png" alt="">
				<p>In trend</p>
				<div class="line"></div>
			</div>
			<div class="trending_gallery">
				<div class="slide">
					<h2>Overwatch</h2>
					<p>A popular mod for overwatch game</p>
					<span>hover here</span>
					<div over class="picture"></div>
					<button></button>
				</div>
				<div class="slide">
					<h2>Metro 2033</h2>
					<p>A popular mod for metro 2033 game</p>
					<span>hover here</span>
					<div metro class="picture"></div>
					<button></button>
				</div>
				<div class="slide">
					<h2>Minecraft Le...</h2>
					<p>A popular mod for minecraft legends game</p>
					<span>hover here</span>
					<div mine class="picture"></div>
					<button></button>
				</div>
			</div>
			<div class="title">
				<img src="images/icons/info_icon.png" alt="">
				<p aaa>Information</p>
				<div class="line"></div>
			</div>
			<div class="info_box">
				<div class="site_overview">
					<h3>Overmods</h3>
					<h5>Best modifications website for your favorite games</h5>
					<div class="item">
						<img src="images/icons/improve.png" alt="">
						<p>Maximize your in-game performance by efficiently utilizing resources and achieving the best results!</p>
					</div>
					<div class="item">
						<img src="images/icons/customize.png" alt="">
						<p>Make your game unique by customizing it to your own style. Immerse yourself in an engaging gaming world with an unforgettable user experience!</p>
					</div>
					<div class="item">
						<img src="images/icons/modify.png" alt="">
						<p>Expand your game with a wide range of new possibilities, embark on unforgettable adventures, and create your own gameplay!</p>
					</div>
					<button>Go to mods</button>
				</div>
				<div class="block-b">
					<div class="block-a">
						<div class="stats_and_ratings">
							<div class="stats">
								<img src="images/icons/stats_icon.png" alt="">
								<div class="games">
									<h5>Total games</h5>
									<p>8</p>
								</div>
								<div class="mods">
									<h5>Total mods</h5>
									<p>123</p>
								</div>
							</div>
							<div class="ratings">
								<img src="images/icons/rate_icon.png" alt="">
								<p>Rate our work</p>
								<div class="stars">
									<input type="radio" id="star1" name="rating">
								    <label for="star1"></label>
								    <input type="radio" id="star2" name="rating">
								    <label for="star2"></label>
								    <input type="radio" id="star3" name="rating">
								    <label for="star3"></label>
								    <input type="radio" id="star4" name="rating">
								    <label for="star4"></label>
								    <input type="radio" id="star5" name="rating">
								    <label for="star5"></label>
								</div>
							</div>
						</div>
						<div class="profile">
							<img src="images/icons/default_profile_avatar.png" alt="avatar">
							<p>Log in to see your profile information</p>
							<button onclick="blockOpen();">Log in</button>
						</div>
					</div>
					<div class="suggestion">
						<img src="images/icons/idk_wis.png" alt="">
						<p>Are you a <span class="white_text">mod maker</span>? Share your creative potential! <span class="att_text" onclick="authOpenSignUp();">Sign up</span> and give your mods wide exposure!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/shorten-gameTitle.js"></script>
<script src="js/gameSearch.js"></script>
<script src="js/betterScrollbar.js"></script>
<script src="js/simpleSlider.js"></script>
<script src="js/test.js"></script>
</html>