<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OverMods - Unleash Your Gaming Experience with Unique Modifications</title>
	<link rel="shortcut icon" href="images/icons/logo.png">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animations.css">
</head>
<body>
  <div class="blur_block">
    <div class="profile">
      <div class="side">
        <div class="short_info">
          <img src="images/materials/photo_2023-05-20_23-30-53.jpg" alt="">
          <div class="role" role="admin">Administrator</div>
          AmyresS
        </div>
        <div class="list">
          <div>
            <img src="images/icons/sett_icon.png" alt="" class="icon">
            <p>Settings</p>
            <img src="images/icons/arrow.png" alt="" class="arrow">
          </div>
          <div>
            <img src="images/icons/myComms_icon.png" alt="" class="icon">
            <p>My comments</p>
            <img src="images/icons/arrow.png" alt="" class="arrow">
          </div>
          <div>
            <img src="images/icons/myMods_icon.png" alt="" class="icon">
            <p>My modifications</p>
            <img src="images/icons/arrow.png" alt="" class="arrow">
          </div>
          <div>
            <img src="images/icons/admin_icon.png" alt="" class="icon">
            <p>Admin</p>
            <img src="images/icons/arrow.png" alt="" class="arrow">
          </div>
        </div>
        <div class="logout">
          <a href="index.html">
          <img src="images/icons/logout_icon.png" alt="">
          <span>Log out</span>
          </a>
        </div>
      </div>
      <div class="right_side">
        <div class="logo"></div>
        <div class="title"><h2>Profile settings</h2></div>
        <div class="content">
          <div class="grid">
            <div>Details</div>
            <div class="info_grid">
              <div><img src="images/icons/orange/name_ico.png" alt=""></div>
              <div><p>AmyresS</p></div>
              <div><!-- <p>Administrator</p> <img src="images/icons/orange/role_ico.png" alt=""> --></div>
              <div><img src="images/icons/orange/mail_ico.png" alt=""></div>
              <div><p>amyresslol@gmail.com</p></div>
              <div class="changeble"><p>change email</p></div>
              <div><img src="images/icons/orange/secure_ico.png" alt=""></div>
              <div><input type="text"><input type="text" name="" id=""><input type="text"></div>
              <div class="changeble"><p></p></div>
              <div><img src="images/icons/orange/calendar_ico.png" alt=""></div>
              <div><p>Registered at 25.05.2023</p></div>
            </div>
            <div>Avatar</div>
            <div class="avatar_change">
              <img class="avatar" src="images/materials/photo_2023-05-20_23-30-53.jpg" alt="">
              <div class="file">
                <img src="images/icons/upload_icon.png" alt="">
                <p>Drag & Drop image here</p>
                <p>OR</p>
                <button>Browse image</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="closeBtn_container">
      <div class="closeBtn" onclick="blockClose();">
        <div class="icon"></div>
      </div>
      <div class="saveBtn" onclick="blockClose();">
        <div class="icon"></div>
      </div>
    </div>
  </div>
	<div class="side_menu">
		<div class="logo_box">
			<a href="index.html"><img src="images/icons/logo.png" alt="logo" class="logo">
			<h3>OverMods</h3></a>
			<hr class="underLogo_line">
			<input class="search_box" id="gameSearch" placeholder="Search game">
		</div>
		<div class="game_selection" id="gameSelection">
			<div id="gameNotFound" style="display: none;">
				<p>Game over!</p>
				<p>No results found.</p>
				<p>Keep exploring!</p>
				<img src="images/icons/gray_logo.png" alt="">
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Apex Legends">Apex Legends</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Cyberpunk 2077">Cyberpunk 2077</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Metro 2033">Metro 2033</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			
			<a href="modListPage.html">
			<div class="game">
				<div class="logo"></div>
				<p game="Minecraft">Minecraft</p>
				<div class="hover"></div>
				<div class="arrow"></div>
			</div>
			</a>

			<div class="game">
				<div class="logo"></div>
				<p game="Overwatch 2">Overwatch 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Red dead redemption 2">Red dead redemption 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Sims 4">Sims 4</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="The witcher 3: Wild hunt">The witcher 3: Wild hunt</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<br>
			<br>
		</div>
		<div class="auth_box">
			<div class="fade"></div>
			<div class="more_box">
				<img src="images/icons/more.png" alt="">
			</div>
			<a href="index.html">
				<div class="login">
					<img src="images/icons/login_icon.png" alt="" class="login_icon">
					<span>Log out</span>
				</div>
			</a>
		</div>
	</div>
	<div class="top_panel">
		<div class="search_container">
			<input type="text" class="search" placeholder="Search is unavailable on the homepage" disabled>
			<img src="images/icons/search_icon.png" alt="" class="search_icon">
		</div>
    <div class="right_side">
      <div class="theme">
        <div class="dark">dark
          <img class="icon" src="images/icons/moon_icon.png" alt="">
        </div>
        <div class="light">light
          <img class="icon" src="images/icons/sun_icon.png" alt="">
        </div>
      </div>
        <div class="profile" onclick="blockOpen();">
          Profile
          <div class="profile_icon" style="background-image: url('images/materials/photo_2023-05-20_23-30-53.jpg');"></div>
        </div>
    </div>
	</div>
	<div class="background">
		<div class="content">
			<br>
			<div class="title">
				<img src="images/icons/trend_icon.png" alt="">
				<p>In trend</p>
				<div class="line"></div>
			</div>
			<div class="trending_gallery">
				<div class="slide">
					<h2>Overwatch</h2>
					<p>A popular mod for overwatch game</p>
					<span>hover here</span>
					<div over class="picture"></div>
					<button></button>
				</div>
				<div class="slide">
					<h2>Metro 2033</h2>
					<p>A popular mod for metro 2033 game</p>
					<span>hover here</span>
					<div metro class="picture"></div>
					<button></button>
				</div>
				<div class="slide">
					<h2>Minecraft Le...</h2>
					<p>A popular mod for minecraft legends game</p>
					<span>hover here</span>
					<div mine class="picture"></div>
					<button></button>
				</div>
			</div>
			<div class="title">
				<img src="images/icons/info_icon.png" alt="">
				<p aaa>Information</p>
				<div class="line"></div>
			</div>
			<div class="info_box">
				<div class="site_overview">
					<h3>Overmods</h3>
					<h5>Best modifications website for your favorite games</h5>
					<div class="item">
						<img src="images/icons/improve.png" alt="">
						<p>Maximize your in-game performance by efficiently utilizing resources and achieving the best results!</p>
					</div>
					<div class="item">
						<img src="images/icons/customize.png" alt="">
						<p>Make your game unique by customizing it to your own style. Immerse yourself in an engaging gaming world with an unforgettable user experience!</p>
					</div>
					<div class="item">
						<img src="images/icons/modify.png" alt="">
						<p>Expand your game with a wide range of new possibilities, embark on unforgettable adventures, and create your own gameplay!</p>
					</div>
					<button>Go to mods</button>
				</div>
				<div class="block-b">
					<div class="block-a">
						<div class="stats_and_ratings">
							<div class="stats">
								<img src="images/icons/stats_icon.png" alt="">
								<div class="games">
									<h5>Total games</h5>
									<p>8</p>
								</div>
								<div class="mods">
									<h5>Total mods</h5>
									<p>123</p>
								</div>
							</div>
							<div class="ratings">
								<img src="images/icons/rate_icon.png" alt="">
								<p>Your rate:</p>
								<div class="stars">
									<input type="radio" id="star5" name="rating" checked>
								    <label for="star5"></label>
								    <input type="radio" id="star4" name="rating">
								    <label for="star4"></label>
								    <input type="radio" id="star3" name="rating">
								    <label for="star3"></label>
								    <input type="radio" id="star2" name="rating">
								    <label for="star2"></label>
								    <input type="radio" id="star1" name="rating">
								    <label for="star1"></label>
								</div>
							</div>
						</div>
						<div class="profile">
							<img src="images/materials/photo_2023-05-20_23-30-53.jpg" alt="avatar">
              <div class="roleIcon" role="admin"></div>
							<div class="username"><img src="images/icons/author_icon.png" alt="">AmyresS</div>
              <div class="role"><img src="images/icons/role_icon.png" alt="">Admin</div>
							<button onclick="blockOpen();">More</button>
						</div>
					</div>
					<div class="suggestion">
						<img src="images/icons/idk_wis.png" alt="">
						<p>Go to <span class="att_text" onclick="blockOpen();">admin panel</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/shorten-gameTitle.js"></script>
<script src="js/gameSearch.js"></script>
<script src="js/betterScrollbar.js"></script>
<script src="js/simpleSlider.js"></script>
<script src="js/test.js"></script>
</html>