<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OverMods - Unleash Your Gaming Experience with Unique Modifications</title>
	<link rel="shortcut icon" href="images/icons/logo.png">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animations.css">
</head>
<body>
	<div class="side_menu">
		<div class="logo_box">
			<img src="images/icons/logo.png" alt="logo" class="logo">
			<h3>OverMods</h3>
			<hr class="underLogo_line">
			<input class="search_box" id="gameSearch" placeholder="Search game">
		</div>
		<div class="game_selection" id="gameSelection">
			<div id="gameNotFound" style="display: none;">Ніхуя не знайшов</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Apex Legends">Apex Legends</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Cyberpunk 2077">Cyberpunk 2077</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Metro 2033">Metro 2033</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game active">
				<div class="logo"></div>
				<p game="Minecraft">Minecraft</p>
				<div class="hover"></div>
				<div class="arrow"></div>
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Overwatch 2">Overwatch 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Red dead redemption 2">Red dead redemption 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Sims 4">Sims 4</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="The witcher 3: Wild hunt">The witcher 3: Wild hunt</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<br>
			<br>
		</div>
		<div class="auth_box">
			<div class="fade"></div>
			<div class="more_box">
				<img src="images/icons/more.png" alt="">
			</div>
			<div class="login">
				<img src="images/icons/login_icon.png" alt="" class="login_icon">
				<span>Log in</span>
			</div>
		</div>
	</div>
	<div class="top_panel">
		<a class="back" href="index.html"></a>
		<div class="search_container">
			<input type="text" class="search" placeholder="Type here what you want to search" id="modSearch">
			<img src="images/icons/search_icon.png" alt="" class="search_icon">
		</div>
		<div class="theme">
			<div class="dark">dark
				<img class="icon" src="images/icons/moon_icon.png" alt="">
			</div>
			<div class="light">light
				<img class="icon" src="images/icons/sun_icon.png" alt="">
			</div>
		</div>
	</div>
	<div class="background">
		<div class="content">
			<br>
			<div class="title">
				<img src="images/icons/modList_icon.png" alt="">
				<p>Minecraft mods</p>
				<div class="line"></div>
			</div>
			<div class="filters">
				<img src="images/icons/funnel_icon.png" alt="">
				<span noHover>Sort by:</span>
				<span>A-Z</span>
				<span class="active">Downloads</span>
				<span>Upload date</span>
			</div>
			<div class="list">
				<div id="modNotFound" style="display: none;">Ніхуя не знайшов</div>
				<div class="modBox">
					<a href="modOpenedPage.html">
						<div class="icon" style="background-image: url('images/materials/mods examples/647f25bc16564.png');"></div>
						<div class="modTitle">
							<h3>Plenty of Golems</h3>
							<p class="description">An exciting mod that brings a plethora of new golems to Minecraft! You'll be able to create small and medium-sized golems on your own, and while exploring the world, you may encounter true giants and ancient golems.</p>
						</div>
						<div class="info">
							<div class="version">1.19.2<div class="iconI"></div></div>
							<div class="downloads">1283<div class="iconI"></div></div>
							<div class="date">1 month ago<div class="iconI"></div></div>
							<div class="hoverElem"><span>Mod page</span></div>
						</div>
					</a>
				</div>
				<div class="modBox">
					<div class="icon" style="background-image: url('images/materials/mods examples/63cff053b163d.png');"></div>
					<div class="modTitle">
						<h3>Dungeons Enchantments</h3>
						<p class="description">Modification transfers enchantments from Minecraft Dungeons. Some enchantments will allow you to deal more damage at full health, some will restore health upon killing a mob, and some will even provide damage resistance after defeating mobs.</p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
				<div class="modBox">
					<div class="icon"></div>
					<div class="modTitle">
						<h3>Some mod</h3>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
				<div class="modBox">
					<div class="icon"></div>
					<div class="modTitle">
						<h3>Some mod</h3>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
				<div class="modBox">
					<div class="icon"></div>
					<div class="modTitle">
						<h3>Some mod</h3>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
				<div class="modBox">
					<div class="icon"></div>
					<div class="modTitle">
						<h3>Some mod</h3>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
				<div class="modBox">
					<div class="icon"></div>
					<div class="modTitle">
						<h3>Some mod</h3>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="info">
						<div class="version">1.19.2<div class="iconI"></div></div>
						<div class="downloads">1007<div class="iconI"></div></div>
						<div class="date">6 days ago<div class="iconI"></div></div>
						<div class="hoverElem"><span>Mod page</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/shorten-gameTitle.js"></script>
<script src="js/gameSearch.js"></script>
<script src="js/betterScrollbar.js"></script>
<script src="js/modSearch.js"></script>
</html>