<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OverMods - Unleash Your Gaming Experience with Unique Modifications</title>
	<link rel="shortcut icon" href="images/icons/logo.png">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animations.css">
</head>
<body>
	<div class="side_menu">
		<div class="logo_box">
			<img src="images/icons/logo.png" alt="logo" class="logo">
			<h3>OverMods</h3>
			<hr class="underLogo_line">
			<input class="search_box" id="gameSearch" placeholder="Search game">
		</div>
		<div class="game_selection" id="gameSelection">
			<div id="gameNotFound" style="display: none;">Ніхуя не знайшов</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Apex Legends">Apex Legends</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Cyberpunk 2077">Cyberpunk 2077</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Metro 2033">Metro 2033</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game active">
				<div class="logo"></div>
				<p game="Minecraft">Minecraft</p>
				<div class="hover"></div>
				<div class="arrow"></div>
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Overwatch 2">Overwatch 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Red dead redemption 2">Red dead redemption 2</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="Sims 4">Sims 4</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="The witcher 3: Wild hunt">The witcher 3: Wild hunt</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<div class="game">
				<div class="logo"></div>
				<p game="">Some game</p>
				<div class="hover"></div>
				<div class="arrow"></div>	
			</div>
			<br>
			<br>
		</div>
		<div class="auth_box">
			<div class="fade"></div>
			<div class="more_box">
				<img src="images/icons/more.png" alt="">
			</div>
			<div class="login">
				<img src="images/icons/login_icon.png" alt="" class="login_icon">
				<span>Log in</span>
			</div>
		</div>
	</div>
	<div class="top_panel">
		<a class="back" href="modListPage.html"></a>
		<div class="search_container">
			<input type="text" class="search" placeholder="Search is unavailable on the modpage" id="modSearch" disabled>
			<img src="images/icons/search_icon.png" alt="" class="search_icon">
		</div>
		<div class="theme">
			<div class="dark">dark
				<img class="icon" src="images/icons/moon_icon.png" alt="">
			</div>
			<div class="light">light
				<img class="icon" src="images/icons/sun_icon.png" alt="">
			</div>
		</div>
	</div>
	<div class="background">
		<div class="content">
			<div class="helper">
				<div class="mod_block">
					<div class="top">
						<div class="mod_logo" style="background-image: url('images/materials/mods examples/647f25bc16564.png');"></div>
						<div class="info_block">
							<h2>Plenty of Golems</h2>
							<div class="info">
								<div class="version"><img src="images/icons/version_icon.png">Game version</div>
								<div class="changeble">1.19.2</div>
								
								<div class="modVersion"><img src="images/icons/version_icon.png" alt="">Mod version</div>
								<div class="changeble">1.0</div>

								<div class="author"><img src="images/icons/author_icon.png">Author</div>
								<div class="changeble">alborto06</div>

								<div class="size"><img src="images/icons/file_icon.png">Size</div>
								<div class="changeble">1.48Mb</div>
								
								<div class="downloads"><img src="images/icons/download_icon.png">Downloads</div>
								<div class="changeble">1283</div>							
								<div class="date"><img src="images/icons/upload_icon.png">Upload date</div>
								<div class="changeble">1 month ago</div>

								<div class="rating"><img src="images/icons/star.png" rate>Rating</div>
								<div class="changeble">4.2</div>
							</div>
						</div>
						<div class="buttons">
							<button class="download"><img src="images/icons/download_icon.png" alt="">Download</button>
							<button class="comments"><img src="images/icons/comments_icon.png" alt="">Comments</button>
						</div>
					</div>
					<div class="description">
						<div class="line_block">Description</div>
						<div class="lines"></div>
						<p>	Immerse yourself in the enchanting world of Minecraft with this thrilling mod that introduces a diverse array of new golems! Get ready to unleash your creativity as you craft and bring to life small and medium-sized golems, each with its own unique abilities and characteristics. Venture through the vast landscapes of the Minecraft universe, and be prepared for awe-inspiring encounters with towering giants and ancient golems, shrouded in mystery and power. Discover their hidden strengths and harness their might as you embark on epic adventures and face formidable challenges. With this mod, the possibilities are endless as you delve into a world where golems become your loyal companions and guardians. Are you ready to forge your own path and witness the awe-inspiring presence of these extraordinary beings?</p>
					</div>
					<div class="screenshots">
						<div class="line_block_mirror">Screenshots</div>
						<div class="lines_mirror"></div>
						<div class="images">
							<div class="image">
								<img src="images/materials/mods examples/plOfGolems/Plenty_Of_Golemsimg0.png" alt="">
								<div class="img_info">
									<div class="text_block">
										<div class="title">Plenty of Golems
											<div class="underline"></div>
										</div>
										<div class="line"></div>
										<div class="desc">Here, you can witness a marvelous variety of golems brought to your game by this modification!</div>
										<p>Click here to view full screenshot</p>
									</div>
								</div>
							</div>
							<div class="image">
								<img src="images/materials/mods examples/plOfGolems/Plenty_Of_Golemsimg1.png" alt="">
								<div class="img_info">
									<div class="text_block">
										<div class="title">Plenty of Golems
											<div class="underline"></div>
										</div>
										<div class="line"></div>
										<div class="desc">Here, you can witness a marvelous variety of golems brought to your game by this modification!</div>
										<p>Click here to view full screenshot</p>
									</div>
								</div>
							</div>
							<div class="image">
								<img src="images/materials/mods examples/plOfGolems/Plenty_Of_Golemsimg2.png" alt="">
								<div class="img_info">
									<div class="text_block">
										<div class="title">Plenty of Golems
											<div class="underline"></div>
										</div>
										<div class="line"></div>
										<div class="desc">Here, you can witness a marvelous variety of golems brought to your game by this modification!</div>
										<p>Click here to view full screenshot</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="howToInstall">
						<div class="line_block">Installation</div>
						<div class="lines"></div>
						<ol>
							<li>Download and install <a href="">Minecraft Forge</a></li>
							<li>Download and install <a href="">GeckoLib</a></li>
							<li>Download the mod</li>
							<li>Without extracting copy it to .minecraft/mods</li>
							<li>Done!</li>
						</ol>
					</div>
					<div class="comments">
						<div class="line_block_mirror">Comments</div>
						<div class="lines_mirror"></div>
						<div class="write_comment">
							<div class="profile_avatar" style="background-image: url('images/icons/default_profile_avatar.png'); background-color: #949494;"></div>
							<textarea type="text" placeholder="You need to login to leave comments." disabled></textarea>
							<div class="rate_mod">
								<p>Rate the mod</p>
								<div class="stars">
									<input type="radio" id="star1" name="rating">
								    <label for="star1"></label>
								    <input type="radio" id="star2" name="rating">
								    <label for="star2"></label>
								    <input type="radio" id="star3" name="rating">
								    <label for="star3"></label>
								    <input type="radio" id="star4" name="rating">
								    <label for="star4"></label>
								    <input type="radio" id="star5" name="rating">
								    <label for="star5"></label>
								</div>
							</div>
							<button>Log in</button>
						</div>
						<div class="show_comments">
							<div class="comment">
								<div class="profile_avatar" style="background-image: url('images/materials/avatar.png');"></div>
								<div class="right">
									<div class="profile_name">TopGuy2008
										<div class="rating">
											<div class="star active"></div>
											<div class="star active"></div>
											<div class="star active"></div>
											<div class="star active"></div>
											<div class="star active"></div>
										</div>
									</div>
									<div class="text">The developers of this website have done an excellent job! The design is visually appealing and user-friendly, making it a pleasure to navigate through the site. The seamless functionality and intuitive interface enhance the overall user experience. The content is well-organized and informative, providing users with valuable information. As a user, I am thoroughly impressed with the website and find it enjoyable to use. Great work by the website developers! 😊</div>
								</div>
							</div>
							<div class="comment">
								<div class="profile_avatar" style="background-image: url('images/icons/default_profile_avatar.png'); background-color: #c9e888;"></div>
								<div class="right">
									<div class="profile_name">Some_another_user
									</div>
									<div class="text">Good modification! I love it</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/shorten-gameTitle.js"></script>
<script src="js/gameSearch.js"></script>
<script src="js/betterScrollbar.js"></script>
</html>