.side_menu{
  width: 90px;
  height: 100%;

  .underLogo_line{
    width: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    mix-blend-mode: multiply;
  }

  .logo_box{
    .logo{
      width: 70px;
    }
  }

  .instruments_box{
    background-color: #cbcbcb;
    height: 50%;
    width: 70%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 0 12px 1px rgba(0, 0, 0, 0.2);

    & div{
      border-radius: 50%;
      margin: 5px 0;
      width: 42px;
      height: 42px;
      background-color: #eeeeeeac;
      
      cursor: pointer;
      transition: .2s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .auth_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0);
    height: 80px;
    align-items: center;
    justify-content: center;
    
    .login_icon{
      left: 0;
      top: 0;
      bottom: 0;
      position: relative;
    }
  }
}
.background{
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1122%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='rgba(239%2c 121%2c 0%2c 0.19)'%3e%3c/rect%3e%3cpath d='M0%2c841.884C152.493%2c814.251%2c240.188%2c660.245%2c373.177%2c580.675C512.348%2c497.406%2c704.531%2c496.973%2c797.992%2c364.431C895.055%2c226.781%2c886.896%2c42.45%2c870.938%2c-125.222C854.392%2c-299.075%2c823.903%2c-482.966%2c705.155%2c-611.02C587.698%2c-737.682%2c407.129%2c-776.432%2c237.378%2c-808.434C80.546%2c-838%2c-79.295%2c-836.349%2c-231.247%2c-787.553C-380.614%2c-739.588%2c-503.365%2c-642.876%2c-616.528%2c-534.225C-739.485%2c-416.171%2c-868.29%2c-295.551%2c-914.553%2c-131.493C-963.928%2c43.602%2c-963.485%2c240.213%2c-880.576%2c402.146C-798.932%2c561.607%2c-631.826%2c653.712%2c-471.552%2c733.749C-324.294%2c807.286%2c-161.96%2c871.233%2c0%2c841.884' fill='rgba(227%2c 115%2c 0%2c 0.19)'%3e%3c/path%3e%3cpath d='M1980 1664.238C2086.076 1646.935 2168.288 1569.296 2248.42 1497.67 2318.074 1435.41 2365.89 1358.471 2412.598 1277.561 2464.226 1188.129 2528.682 1103.137 2535.6549999999997 1000.109 2543.48 884.489 2525.455 760.528 2453.75 669.4929999999999 2380.944 577.0609999999999 2265.085 519.331 2147.977 507.922 2038.753 497.28099999999995 1938.235 557.213 1841.964 609.892 1762.127 653.578 1708.849 725.7719999999999 1640.351 785.693 1558.451 857.338 1434.024 893.266 1399.909 996.595 1365.241 1101.601 1423.204 1212.786 1465.6280000000002 1314.906 1509.359 1420.172 1554.414 1531.455 1648.711 1595.496 1743.94 1660.17 1866.388 1682.771 1980 1664.238' fill='rgba(251%2c 127%2c 0%2c 0.19)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1122'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");   */
  background-image: none;
  background-color: #cbcbcb;
  overflow: hidden;


  .content{
    margin: 0;
    margin-left: 90px;
    height: 100%;
    width: 100%;

    .helper{
      width: calc(100% - 220px);
      margin-left: 20px;
      justify-content: flex-start;

      .mod_block{
        .mod_name{
          color: #3f3f3f;

          &::placeholder{
            color: #3f3f3f;
          }
        }
      }
    }
  }
}